

.menuHamburger
    include ../modules/toolbar.pug
    .content 
        
        .menuHamburger__login 
            img.login__img(src="./assets/images/user.png", alt="")
            p Sign Up or Log in
        nav.menuHamburger__nav 
            a(href='#flowers').nav__item Plants and flowers
            a(href='#flowers__slider').nav__item Plant care
            a(href='#news').nav__item News
            
