section.toolbar
	.content
		.toolbar__block
			a.block__logo(href="#" target='_blank')
				img(src="./assets/images/Logo.png", alt="")
			.block__menu
				.menu__icon
					svg.icon__search(xmlns='http://www.w3.org/2000/svg')
						path(d='M23.625 21.875L19.875 18.125C20.7188 16.875 21.1562 15.3125 20.9375 13.625C20.5312 10.75 18.1875 8.4375 15.3438 8.0625C11.0938 7.53125 7.5 11.125 8.03125 15.375C8.40625 18.2188 10.7188 20.5625 13.5938 20.9688C15.2812 21.1875 16.8438 20.75 18.125 19.9062L21.8438 23.6562C22.3438 24.125 23.125 24.125 23.625 23.6562C24.0938 23.1562 24.0938 22.375 23.625 21.875ZM10.4688 14.5C10.4688 12.3125 12.25 10.5 14.4688 10.5C16.6562 10.5 18.4688 12.3125 18.4688 14.5C18.4688 16.7188 16.6562 18.5 14.4688 18.5C12.25 18.5 10.4688 16.7188 10.4688 14.5Z' )
					svg.icon__pt(xmlns='http://www.w3.org/2000/svg')
						path(d='M7.77294 21V9.56H11.4529C12.7756 9.56 13.8103 9.85867 14.5569 10.456C15.3143 11.0427 15.6929 11.9227 15.6929 13.096V13.16C15.6929 14.3227 15.3143 15.1973 14.5569 15.784C13.7996 16.36 12.7809 16.648 11.5009 16.648H9.90094V21H7.77294ZM9.90094 15.112H11.4529C12.1569 15.112 12.6903 14.9467 13.0529 14.616C13.4263 14.2747 13.6129 13.7893 13.6129 13.16V13.096C13.6129 11.8373 12.8929 11.208 11.4529 11.208H9.90094V15.112ZM19.8109 21V11.24H16.6269V9.56H25.1389V11.24H21.9549V21H19.8109Z')
				
					svg.icon__bar(xmlns='http://www.w3.org/2000/svg')
						path.icon__bar(d='M22 15H9.96875C9.4375 15 9 15.4688 9 16C9 16.5625 9.4375 17 9.96875 17H21.9688C22.5312 17 23 16.5625 23 16C23 15.4688 22.5312 15 22 15ZM22 20H9.96875C9.4375 20 9 20.4688 9 21C9 21.5 9.4375 22 9.96875 22H21.9688C22.5312 22 23 21.5625 23 21C23 20.4688 22.5312 20 22 20ZM22 10H9.96875C9.4375 10 9 10.4688 9 11C9 11.5 9.4375 12 9.96875 12H21.9688C22.5312 12 23 11.5625 23 11C23 10.4688 22.5312 10 22 10Z' )
					//- img.icon__bar(src="../assets/images/18+.png", alt="")