/** @format */

.content {
	@include content(0px 8px);
}
a {
	text-decoration: none;
	color: inherit;
}

* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

// кнопки для ссылки

.section-button {
	@include btn(14px, #e2fedb, #e2fedb, $corporate_color, 17px 10px);
	border-radius: 8px;
	color: inherit;
	font-weight: 800;
	filter: drop-shadow(0px 4px 16px rgba(29, 66, 98, 0.15));
	align-items: center;
}

.section-button:hover {
	cursor: pointer;
	background: $corporate_color;
	color: #fff !important;
	border: 1px solid $corporate_color;
}

.section-buttonGreen {
	@include btn(14px, $corporate_color, $corporate_color, #fff, 17px 10px);
	border-radius: 8px;
	color: inherit;
	font-weight: 800;
	filter: drop-shadow(0px 4px 16px rgba(29, 66, 98, 0.15));
	align-items: center;
}

.section-buttonGreen:hover {
	cursor: pointer;
	background: #fff;
	color: $corporate_color !important;
	border: 1px solid $corporate_color;
}

.section__headerBlock {
	margin-bottom: 16px;
	@include grid(16px, 1fr auto);
	.header__see {
		color: $corporate_color;
		font-weight: 600;
	}
	.header__see:hover {
		cursor: pointer;
	}
}

.section_h2 {
	font-size: 36px;
	font-weight: 800;
}

@media (max-width: 660px) {
	.section_h2 {
		font-size: 18px;
	}
}
