@font-face {
	font-family: 'GraphikLCG';
	src: url('../assets/fonts/GraphikLCG-Regular.eot');
	src: url('../assets/fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/GraphikLCG-Regular.woff2') format('woff2'), url('../assets/fonts/GraphikLCG-Regular.woff') format('woff'), url('../assets/fonts/GraphikLCG-Regular.ttf') format('truetype'), url('../assets/fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik LCG';
	src: url('../assets/fonts/GraphikLCG-Medium.eot');
	src: url('../assets/fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/GraphikLCG-Medium.woff2') format('woff2'), url('../assets/fonts/GraphikLCG-Medium.woff') format('woff'), url('../assets/fonts/GraphikLCG-Medium.svg#GraphikLCG-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
