/** @format */

.menuHamburger {
	display: none;
	background: #111827;
	color: white;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	animation: hamburgerShow 0.5s ease;
	.menuHamburger__login {
		background: #1f2937;
		border-radius: 8px;
		padding: 12px 10px;
		text-align: center;
		justify-content: center;
		@include grid(8px, auto auto);
		.login__img {
			max-width: 16px;
		}
	}
	.menuHamburger__nav {
		display: grid;
		align-content: flex-start;
		overflow-y: auto;
		height: 100%;
		margin-top: 16px;
		.nav__item {
			padding: 20px 0;
			font-weight: 600;
		}
		.nav__item:not(:last-child) {
			border-bottom: 1px solid #fff;
		}
	}
}

.menuHamburger__nav::-webkit-scrollbar {
	width: 8px;
	background-color: #3b4863;
}
::-webkit-scrollbar-thumb {
	background-color: #578021;
}

.menuHamburger-block {
	display: block;
	animation: hamburgerShow 0.5s ease;
}
.menuHamburger-none {
	display: none;
	animation: hamburgerNone 0.5s ease-in-out;
}

@keyframes hamburgerShow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hamburgerNone {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
