/** @format */

.main_content {
	max-width: 1920px;
	width: 100%;
	margin: auto;
	font-size: 16px;
	color: #fff;
	background: #f6f6f6;
	background: #e5e5e5;
	color: $main_text_color;
	font-family: 'GraphikLCG', sans-serif;
}

img {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
}

.recommendation {
	margin-top: var(--block);
	.recommendation__slider {
		margin-top: 16px;
	}
	.recommendation__prevue {
		background: linear-gradient(180deg, #cbd623 0%, #41701e 100%);
		border-radius: 8px;
		padding: 8px 15px;
		color: #ffffff;
		margin-top: var(--block);
		@include grid(5px, 2fr 0.5fr);
		justify-items: flex-end;
		.prevue__title {
			font-weight: 600;
		}
		.prevue__description {
			margin-top: 4px;
			opacity: 0.4;
			font-size: 14px;
		}
		.prevue__img {
			max-width: 50px;
		}
	}
}

.flowers {
	margin-top: var(--section);
	.flowers__cart {
		.cart__block {
			@include grid(16px, 1fr 1fr);
			.block__item {
				box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
				border-radius: 8px;
				background: #ffffff;
				text-align: center;
				.item__img {
					background: #111827;
					border-radius: 8px 8px 0 0;
					min-height: 88px;
					img {
						max-height: 130px;
						width: fit-content;
					}
				}
				.item__title {
					margin-top: 16px;
					font-weight: 600;
					margin-bottom: var(--section);
				}
				.item__review {
					margin: 0 8px 8px;
				}
				.item__star {
					background: #f59e0b;
					padding: 2px 6px;
					color: #fff;
					width: fit-content;
					margin: auto;
					margin-top: -10px;
					position: relative;
					z-index: 1;
					@include grid(2px, auto auto);
					align-items: center;
					border-radius: 2px;
					.star__img {
						max-width: 13px;
					}
				}
			}
		}
	}
	.flowers__slider {
		margin-top: var(--block);
		.slider-flowers {
			width: 100%;
			height: fit-content;
		}
		.slide__flowers {
			background: #ffffff;
			box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
			border-radius: 8px;
			padding: 8px;
			display: grid;
			grid-template-rows: auto auto 0.8fr 1fr;
			.slide__title {
				margin: 8px 0;
				color: $corporate_color;
			}
			.slide__description {
				font-weight: 600;
			}
			.slide__btn {
				margin-top: 8px;
			}
		}
	}
}

.news {
	margin-top: var(--section);
	.news__header {
		.header__see {
			color: #2563eb;
		}
	}
	.news__block {
		.block__item {
			.item__title {
				font-weight: 600;
				margin: 8px 0 4px;
			}
			.item__info {
				@include grid(8px, auto 1fr);
				color: #6b7280;
				.views__img {
					max-width: 16px;
					margin-right: 4px;
				}
			}
		}
	}
}

.slider-r {
	width: 100%;
	height: fit-content;
	.swiper-slide {
		text-align: center;

		img {
			max-width: 128px;
		}
	}
}

@media (max-width: 1024px) {
	:root {
		--section: 40px;
		--block: 24px;
	}
}
