/** @format */

@mixin content($padd...) {
	max-width: 1400px;
	width: 94%;
	margin: auto;
	padding: $padd;
}

@mixin grid($gap, $fr...) {
	display: grid;
	grid-template-columns: $fr;
	grid-gap: $gap;
}

@mixin btn($size, $bg, $border, $color, $pad...) {
	letter-spacing: 0.06em;
	font-size: $size;
	font-weight: 600;
	background: $bg;
	border-radius: 5px;
	width: auto;
	max-width: 100%;
	padding: $pad;
	display: flex;
	justify-content: center;
	align-content: center;
	color: $color !important;
	transition-duration: 0.5s;
	border: 1px solid $border;
	text-align: center;
	cursor: pointer;
}
