/** @format */

.toolbar {
	padding: 21px 0;
	fill: #fff;
	background: #111827;
	.toolbar__block {
		@include grid(16px, 1fr 1fr);
		.block__logo {
			img {
				max-width: 144px;
				width: 100%;
			}
		}
		.menu__icon {
			@include grid(16px, auto auto auto);
			svg {
				height: 32px;
				width: 32px;
			}
			svg:hover {
				cursor: pointer;
			}
		}
	}
}
