<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "оставить товары"
	body.js-body
		.main_content
			include ./modules/toolbar.pug
			include ./modules/menuHamburger.pug
			section.recommendation
				.content
					.recommendation__title.section_h2 Recommended for you
					.recommendation__slider
						.swiper.slider-r
							.swiper-wrapper
								a.swiper-slide(href='https://www.obi.ru/' target='_blank')
									img(src="./assets/images/obi.png", alt="")
									p ОБИ
								a.swiper-slide(href='https://leroymerlin.ru/' target='_blank')
									img(src="./assets/images/leroy.png", alt="")
									p Леруа Мерлен
								a.swiper-slide(href='https://rostov.gorko.ru/%D1%86%D0%B2%D0%B5%D1%82%D1%8B/652905/' target='_blank')
									img(src="./assets/images/clumbu.png", alt="")
									p Клумба
								a.swiper-slide(href='https://arthouse4.ru/blog/logotip_dlya_tsvetochnoy_masterskoy_buket_bar/' target='_blank')
									img(src="./assets/images/buket.png", alt="")
									p Букет Бар
					.recommendation__prevue
						div 
							p.prevue__title Rubber-bearing ficus (elastic)
							p.prevue__description Ficus elastica (Ficus elastica), or rubber-bearing ficus...
						img.prevue__img(src="./assets/images/ficus.png", alt="")
			section.flowers#flowers
				.content
					.flowers__cart
						.cart__header.section__headerBlock 
							.header__title.section_h2 Plants and flowers
							.header__see See all			
						.cart__block
							.block__item
								.item__img
									img(src="./assets/images/orchid.png", alt="")
								.item__star
									.star__img
										img(src="./assets/images/star.png", alt="")
									p 8.0
								p.item__title Orchid
								.section-button.item__review Review
							.block__item
								.item__img
									img(src="./assets/images/pions.png", alt="")
								.item__star
									.star__img
										img(src="./assets/images/star.png", alt="")
									p 9.0
								p.item__title Pions
								.section-button.item__review Review
							.block__item
								.item__img
									img(src="./assets/images/aloe.png", alt="")
								.item__star
									.star__img
										img(src="./assets/images/star.png", alt="")
									p 5.6
								p.item__title Aloe
								.section-button.item__review Review
							.block__item
								.item__img
									img(src="./assets/images/chrysanthemum.png", alt="")
								.item__star
									.star__img
										img(src="./assets/images/star.png", alt="")
									p 7.5
								p.item__title Chrysanthemum
								.section-button.item__review Review
					.flowers__slider#flowers__slider
						.slider__header.section__headerBlock  
							.header__title.section_h2 Plant care
							.header__see See all	
						.swiper.slider-flowers
							.swiper-wrapper
								.swiper-slide
									.slide__flowers
										img(src="./assets/images/plant.png", alt="")
										p.slide__title Pots for plants
										p.slide__description Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble
										a(href='#' target="_blank").slide__btn.section-buttonGreen Go over
								.swiper-slide
									.slide__flowers
										img(src="./assets/images/soil.png", alt="")
										p.slide__title Soil source
										p.slide__description Geolia soil "For orchids" 2.5 L
										a(href='#' target="_blank").slide__btn.section-buttonGreen Go ove
								.swiper-slide
									.slide__flowers
										img(src="./assets/images/wareting.png", alt="")
										p.slide__title Watering
										p.slide__description Stretchable hose with Geolia Compact gun
										a(href='#' target="_blank").slide__btn.section-buttonGreen Go over
			section.news#news 
				.content 
					.news__header.section__headerBlock 
						.header__title.section_h2 News
						.header__see See all
					.news__block 
						.block__item 
							img(src="./assets/images/indoor.png", alt="").item__img
							.item__title Indoor flowers and potted plants
							.item__info
								.info__data 16.06.21
								.info__views
									img.views__img(src="./assets/images/views.png", alt="")
									span 16
			include ./modules/footer.pug